.footer-component {

    font-family: 'Lora', serif;

    padding: 50px;
    background-color: rgb(45, 43, 49);
    display: flex;
    justify-content: space-evenly;
}

.footer-follow,
.footer-connect {
    // color: rgb(177, 170, 170);
    // color: rgb(168, 170, 64);
    color: rgb(124, 159, 192);
    font-size: 1.05em;
    margin: auto;
    // text-align: center;

    p {
        padding-left: 12px;
    }
}

.footer-follow img {
    padding-left: 10px;
}


.footer-email {
    margin-bottom: 0;
}

.footer-email a {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    // font-weight: bold
}

.linkedIn-logo {
    color: white;
    font-size: 2em;
    margin-left: 20px;
}