@use "../utilities/variables"as *;
@use "../utilities/mixins"as *;



.intro-component {
    padding: 40px 50px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // text-align: center;


    .photo-container {
        max-width: 1030px;
        // margin-top: 100px;
        text-align: center;

        // padding-left: 60px;
        // margin: auto;
        // justify-content: center;
        // padding: 100px;


        @include mq($tabletPortrait) {
            padding: 150px 0 0 0;
        }

        @include mq($tabletLandscape) {
            padding-left: 0;
            margin-left: 0;
        }

        @include mq($desktopMedium) {
            padding-left: 0;
        }

        @include mq($desktopLarge) {
            margin-right: 100px;
        }
    }

    .about-container {
        margin-top: 50px;

        p {
            font-weight: bold;
        }
    }

    .personal-photo {
        border-radius: 50%;
        object-fit: cover;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-size: 1.15em;

        @include mq($phoneLandscape) {
            padding: 50px 20px 0 50px;
        }

        // @include mq($tabletPortrait) {
        //     padding: 0 100px;
        // }

        // @include mq($tabletLandscape) {
        //     padding: 0 150px;
        // }

        @include mq($desktopMedium) {
            padding: 50px 100px;
        }

        @include mq($desktopLarge) {
            padding: 50px 50px;
        }
    }

    @media (min-width: $tabletPortrait) {
        flex-direction: row-reverse;

        .photo-container {
            width: 2000px;
        }

        .about-container {
            margin-right: 50px;
        }

    }
}