@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;



.intro-component {
    padding: 0px 50px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .techstack-container {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .tech-stack-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .tech-stack-list li {
        list-style-type: none;
        border: 1px solid rgb(129, 184, 230);
        background-color: rgb(129, 184, 230);
        margin-right: 5px;
        margin: 3px;
        padding: 2px;
        font-weight: bold;

        span:not(:first-child) {
            padding-bottom: 5px;

        }
    }

    .about-container {
        margin-top: 50px;
        padding: 30px;

        p {
            font-weight: bold;
        }
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-size: 1.15em;

        @include mq($phoneLandscape) {
            padding: 50px 20px 0 50px;
        }

        // @include mq($tabletPortrait) {
        //     padding: 0 100px;
        // }

        // @include mq($tabletLandscape) {
        //     padding: 0 150px;
        // }

        @include mq($desktopMedium) {
            padding: 50px 100px;
        }

        @include mq($desktopLarge) {
            padding: 50px 250px;
        }
    }

    @media (min-width: $phoneLandscape) {
        padding: 0 100px;
    }

    @media (min-width: $tabletPortrait) {
        .techstack-container {
            flex-direction: row;
        }

        .photo-container {
            width: 2000px;
        }

        .about-container {
            margin-right: 50px;
        }
    }

    @media (min-width: $desktopLarge) {
        .techstack-languages {
            padding-left: 100px;
        }
    }
}