@use "../utilities/variables"as *;
@use "../utilities/mixins"as *;


.wrapper {
  scroll-behavior: smooth;

  .jump-to-block {
    display: block;
    margin-top: -80px;
    padding-bottom: 80px;
    display: block;
  }

  .homepage-section {

    position: relative;
    top: -20px;

    @media (min-width: $tabletPortrait) {
      height: calc(100vh - 80px);
    }
  }
}